doctype 5
html(lang="en")
  head
    title= "handofpong"
  body
    h1 handofpong
    h2#message
    #container
      button#camerabutton Capture camera
      button#stopbutton Stop camera
      hr
      button#trackbutton Hand tracking
      br
      video#camvideo(autoplay, width="400", height="400", controls)
        Your browser do not support video, move on! user Chrome instead.

    script(src='/camera/objectdetect.js')
    script(src='/camera/objectdetect.eye.js')
    script(src='/camera/objectdetect.frontalface.js')
    script(src='/camera/objectdetect.mouth.js')

    script(src='/javascripts/jquery.js')
    script(src='/camera/jquery.objectdetect.js')

    script(src='/camera/usermedia.js')
    script(src='/camera/tracking.js')
