doctype 5
html(lang="en")
  head
    title= "handofpong"
  body
    h1 handofpong
    h2#message
    #container
      video#camvideo(autoplay, width="200", height="200")
      br
      canvas#game(width="780", height="450", style="border:1px #000 dashed;")

    script(src='/javascripts/zepto.min.js')
    script(src='/camera/usermedia.js')
