doctype 5
html(lang="en")
  head
    title= "handofpong"
  body
    h1 handofpong
    h2#message
    #container
      button#camerabutton Start camera
      button#stopbutton Stop camera
      hr
      button#trackbutton Toogle tracking
      #coordinates
      br
      video#camvideo(autoplay, width="500", height="500", controls)
        Your browser do not support video, move on! user Chrome instead.

    #tracker(style="position:absolute; border-style:solid;")

    script(src='/camera/objectdetect.js')
    script(src='/classifier/objectdetect.frontalface.js')

    script(src='/javascripts/jquery.js')
    script(src='/camera/jquery.objectdetect.js')

    script(src='/camera/usermedia.js')
    script(src='/camera/tracking.js')
