extends layout

block content
  section#about
    #meme
      img(src="/img/aboutimg.png")
    #info
      p="A node.js KO project made in 48 hours, "
        br
        |made by people who love old school videogames.
      p="They said we could be anything with our heads, so we became pong paddles."
      p="Now go yourself and enjoy it"
      a(href="/game#gamezone")="Play"
