<!DOCTYPE html>
<html lang="en">
<head>
  <title>HeadPong</title>
  <link href='../public/stylesheets/mainstyle.css' rel='stylesheet' type='text/css' />
  <link rel="stylesheet" href="../public/stylesheets/video.css">
  <script type="text/javascript" src="../public/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="../public/javascripts/bundle.js"></script>
</head>
<body>
  <header>
    <h1>HeadPong</h1>
    <p>I didn't choose the pong life, the pong life chose me</p>
  </header>
  <nav>
    <ul>
      <li><a href="index.html">Home</a></li>
      <li><a href="play.html#gamezone">Play</a></li>
      <li id="vote">
        <iframe src="http://nodeknockout.com/iframe/staunch-team" frameborder=0 scrolling=no allowtransparency=true width=115 height=25></iframe>
      </li>
    </ul>
  </nav>
  <section id="about">
    <div id="meme">
      <img src="../public/img/aboutimg.png" />
    </div>
    <div id="info">
      <p>A node.js KO project made in 48 hours, <br> made by people who love old school videogames.</p>
      <p>They said we could be anything with our heads, so we became pong paddles.</p>
      <p>Now do yourself and enjoy it</p>
      <a href="play.html#gamezone">Play</a>
    </div>
  </section>
  <footer>
    <p><a href="http://nodeknockout.com/teams/staunch-team">a StaunchTeam Project</a></p>
  </footer>
</body>
</html>