<!DOCTYPE html>
<html lang="en">
<head>
  <title>HeadPong</title>
  <link href='../public/stylesheets/mainstyle.css' rel='stylesheet' type='text/css' />
  <link rel="stylesheet" href="../public/stylesheets/video.css">
  <script type="text/javascript" src="../public/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="../public/javascripts/bundle.js"></script>
</head>
<body>
  <header>
    <h1>HeadPong</h1>
    <p>I didn't choose the pong life, the pong life chose me</p>
  </header>
  <nav>
    <ul>
      <li><a href="index.html">Home</a></li>
      <li><a href="#gamezone">Play</a></li>
      <li id="vote">
        <iframe src="http://nodeknockout.com/iframe/staunch-team" frameborder=0 scrolling=no allowtransparency=true width=115 height=25></iframe>
      </li>
    </ul>
  </nav>
  <section id="gamezone">
    <div id="side">
      <div id="wpcamera">
        <canvas style="background-color:#999" width="180" height="135" id="camera"></canvas>
        <button id="camerabutton">Start camera</button>
        <br><button id="stopbutton">Stop camera</button>
        <br><button id="trackbutton">Toogle tracking</button>
      </div>
      <div id="button">
        <iframe src="http://nodeknockout.com/iframe/staunch-team" frameborder=0 scrolling=no allowtransparency=true width=115 height=25></iframe>
      </div>
      <div id="message">
        <p>Waiting for player 2...</p>
      </div>
    </div>
    <canvas style="background-color:#aaa" width="800" height="600" id="pong"></canvas>
  </section>
  <footer>
    <p><a href="http://nodeknockout.com/teams/staunch-team">a StaunchTeam Project</a></p>
  </footer>
</body>
</html>