extends layout

block content
  section#preview
    h2="Get the real story behind HeadPong.  Extra useful if you don't have a webcam."
    iframe(width="853", height="480", src="http://www.youtube.com/embed/_wvJyhW-dPc?rel=0", frameborder="0", allowfullscreen)