@import url(http://fonts.googleapis.com/css?family=Press+Start+2P);
@import url(http://fonts.googleapis.com/css?family=Strait);


body{
	background: #ddd url('../img/escheresque.png') repeat right top;
}

header, nav, section, footer{
	width: 960px;
	display: block;
	margin: 0 auto;
	padding: 15px 20px;
}

header{
	background-color: #CF0000;
	color: white;
}

h1{
	font-family: 'Press Start 2P', cursive;
	font-size: 50px;
	text-align: center;
	margin:	10px auto;
}

header p{
	font-family: 'Strait', sans-serif;
	font-size: 20px;
	margin: 0px;
	text-align: center;
}

nav{
	background-color: #222;
	height: 32px;
	padding: 0px 20px;
}

nav	ul{
	margin: 0px;
	width: 100%;
	height: 100%;
	padding: 0px 150px;
}

nav li{
	display: inline;
	list-style-type: none;
	padding-right: 40px;
	font-family: 'Press Start 2P', cursive;
	color: white;
	float: left;
	width: 15%;
}

nav li a {
	display: block;
	padding: 8px 15px;
	text-decoration: none;
	font-weight: bold;
	color: white;
	border-right: 1px solid #ccc;
}

#vote {
	padding: 3px;
}

section{
	background-color: black;
	background: #000 url('../img/arches.png') repeat right top;
	height: 610px;
	padding: 15px 5px;
	width: 990px;
}

#side{
	float: left;
	width: 180px;
	height: 600px;
	/*border: 1px solid #333;*/
}

#wpcamera{
	width: 180px;
	height: 350px;
	/*background-color: red;*/
	margin-bottom: 15px;
}

#wpcamera button{
	font-family: 'Press Start 2P', cursive;
	width: 100%;
	height: 50px;

}

#camvideo {
	border-radius: 5px;
}

#button {
	width:116px;
	height: 26px;
	margin: 10px auto;
	margin-top: 5px;
}

#message{
	background-color: #333;
	margin: 0 auto;
	width: 130px;
	height: 100px;
	color: white;
	font-family: 'Press Start 2P', cursive;
	padding: 10px;
	margin-top: 20px;
	border-radius: 5px;
}

#pong {
	float: right;
	background: #111 url('../img/twinkle_twinkle.png') repeat right top;
	border-radius: 5px;
}

footer{
	background-color: #CF0000;
}

footer p{
	font-family: 'Strait', sans-serif;
	font-size: 30px;
	margin: 0px;
	text-align: center;
}

footer a{
	color: black;
	text-decoration: none;
}

#meme{
	margin-top: 30px;
	width: 550px;
	height: 530px;
	float: left;
	margin-left: 40px;
}

#info{
	margin-top: 30px;
	width: 330px;
	height: 400px;
	background-color: #CF0000;
	float: left;
	margin-left: 15px;
	border-radius: 5px;
	padding: 15px;
}

#info p{
	font-family: 'Press Start 2P', cursive;
	color: white;
}

#info a{
	text-decoration: none;
	font-family: 'Press Start 2P', cursive;
	color: white;
	display: block;
	border-radius: 10px;
	background-color: #111;
	font-size: 30px;
	height: 30px;
	width: 120px;
	margin: 0 auto;
	padding: 20px 80px;
}

#description {
	width: 80%;
	background-color: #ddd;
	height: 90%;
	margin: 0 auto;
	border-radius: 10px;
	padding: 15px;
}

#description p{
	font-family: 'Strait', sans-serif;
	font-size: 20px;
	text-align: center;
}

#description h2{
	font-family: 'Press Start 2P', cursive;
	font-size: 30px;
	text-align: center;
}

#description h3{
	font-family: 'Press Start 2P', cursive;
	font-size: 20px;
	text-align: right;
	color: #333;
}

#description h4{
	font-family: 'Press Start 2P', cursive;
	font-size: 16px;
	text-align: right;
	color: #20B1B9;
}

