@import url(http://fonts.googleapis.com/css?family=Press+Start+2P);
@import url(http://fonts.googleapis.com/css?family=Strait);


body{
	background: #ddd url('../img/escheresque.png') repeat right top;
}

header, nav, section, footer{
	width: 960px;
	display: block;
	margin: 0 auto;
	padding: 15px 20px;
}

header{
	background-color: #CF0000;
	color: white;
}

h1{
	font-family: 'Press Start 2P', cursive;
	font-size: 50px;
	text-align: center;
	margin:	10px auto;
}

header p{
	font-family: 'Strait', sans-serif;
	font-size: 20px;
}

nav{
	background-color: #222;
	height: 32px;
	padding: 0px 20px;
}

nav li{
	display: inline;
	list-style-type: none;
	padding-right: 20px;
	font-family: 'Press Start 2P', cursive;
	color: white;
	float: left;
}

nav li a {
		display: block;
		padding: 8px 15px;
		text-decoration: none;
		font-weight: bold;
		color: white;
		border-right: 1px solid #ccc; 
}


section{
	background-color: black;
	background: #000 url('../img/arches.png') repeat right top;
	height: 610px;
	padding: 5px;
	width: 990px;
}

canvas {
	/*margin: 0px 70px;*/
}

#camera {
	float: left;
	margin-top: 230px;
}

#pong {
	float: right;
}

footer{
	background-color: #CF0000;
}